<section class="cta">
    <div class="container cta-card">
        <div class="cta-text">
            <p>Join Our Newsletter Now</p>
            <p>Register now to get updates on promotions...</p>
        </div>
        <div class="cta-subcribe">
            <input type="text" placeholder="Enter your email To Subscribe...">
            <button>SUBSCRIBE</button>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-brand">
                <a href="#" class="logo">
                    <img alt="Footer Houzing logo" src="/images/footer/logo-white 2.png">
                </a>
                <p class="footer-brand-text">Lorem Ipsum is simply dummy text of the
                    and typesetting industry. Lorem Ipsum is
                    dummy text of the printing.</p>
                <div class="footer-icons">
                    <img alt="facebook" src="/images/footer/Facebook.png">
                    <img alt="instagram" src="/images/footer/Ins.png">
                    <img alt="linkedin" src="/images/footer/Linkedin.png">
                    <img alt="twitter" src="/images/footer/Twitter.png">
                </div>
            </div>
            <div class="footer-link-box">
                <div class="footer-list">
                    <p class="footer-item-title">Quick Links</p>
                    <a href="#" class="footer-item-link">Home</a>
                    <a href="#" class="footer-item-link">About Us</a>
                    <a href="#" class="footer-item-link">Blog</a>
                    <a href="#" class="footer-item-link">FAQ</a>
                    <a href="#" class="footer-item-link">Services</a>
                </div>

                <div class="footer-list">
                    <p class="footer-item-title">Services</p>
                    <a href="#" class="footer-item-link">Wish List</a>
                    <a href="#" class="footer-item-link">Login</a>
                    <a href="#" class="footer-item-link">Submit a Request</a>
                    <a href="#" class="footer-item-link">Appointment</a>
                    <a href="#" class="footer-item-link">Promotional Offers</a>
                </div>

                <div class="footer-list">
                    <p class="footer-item-title">Contract</p>
                    <p class="footer-address">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>124 Brooklyn, New York
                            United States</span>
                    </p>
                    <p class="footer-call">
                        <i class="fas fa-mobile-alt"></i>
                        <span>+11 2 3456 7890</span>
                    </p>
                    <p class="footer-mail">
                        <i class="far fa-envelope"></i>
                        <span>info@houzing.com</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© Copyright Medih 2022 All Right Reserved.</p>
            <div class="term-condition">
                <p>terms of use</p>
                <p>privacy policy</p>
            </div>
        </div>
    </div>

</footer>