<section class="sub-banner">
    <div class="w-100 header-background d-flex justify-content-center align-items-center">
        <img class="w-100" src="/images/header/bg-1.webp" alt="img-header-background">
        <div class="container">
            <div class="max-w-[600px]  mx-auto text-center text-white relative z-[1]">
                <div class="mb-2"><span class="text-base block">Our Properties</span></div>
                <h1
                    class="font-lora text-[36px] sm:text-[50px] md:text-[68px] lg:text-[50px] leading-tight xl:text-2xl font-medium">
                    <%= pageTitle || "Properties" %>
                </h1>

                <p class="text-base mt-2 w-50 mx-auto text-center">
                    Huge number of propreties availabe here for buy and sell
                    also you can find here co-living property as you like
                </p>
            </div>
        </div>
    </div>
</section>