.sub-banner{
    .header-background {
        background-color: black;
        position: relative;

        img {
            opacity: 0.5;
        }

        .container {
            position: absolute;
        }
    }
}